<h1 class="adventure-header">Adventurer Collective</h1>


<form class="form-signin" action="<%= users_url %>" method="post">
  <!-- <h4 class="form-signin-heading">Please sign in</h4> -->
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="inputUsername" class="sr-only">User Name</label>
    <input
      type="username"
      name="user[username]"
      id="inputUsername"
      class="form-control"
      placeholder="Username"
      value="<%= @user.username %>"
      required autofocus>
  <br>

  <label for="inputPassword" class="sr-only">Password</label>
  <input
    type="password"
    name="user[password]"
    id="inputPassword"
    class="form-control"
    placeholder="Password"
    value="<%= @user.password %>"
    required>
  <br>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
