/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

body {font-family: 'Gentium Basic', serif;
      background: url('http://res.cloudinary.com/dpdxfgx58/image/upload/v1454653712/nature_mwtngm.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100%;
      width: 100%;
      top: 0px;
      left: 0px;
      position: absolute;}

.adventure-index-items-list {
  padding: 0%;
  text-align: center;
}

.adventure-detail {
  margin-top: 5vh;
}

.tags {
  margin-right: 3px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  color: inherit;
}

.adventure-description {
  text-decoration: underline;
}

.activity-title {
  margin-top: 15vh;
}

.main-div {
  display: block;
  background: #ffffff;
  width: 95%;
  height: 80%;
  min-height: 700px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.6);
}

.main-div-2 {
  display: block;
  background: #ffffff;
  width: 80%;
  overflow: auto;
  height: 765px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.6);
}

.adventure-title {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.adventure-index-items-container {
  margin: 0 auto;
  margin-top: 20px;
}

.adventure-index-item {
  position: relative;
  margin: 0px 0px;
  margin-right: 5px;
  box-shadow: 1px 1px 1px #888888;
  display: inline-block;
  height: 300px;
  width: 300px;
  border: 1px solid white;
  border-radius: 3px;
  // padding: 5px 5px;
  overflow: hidden;
}

.adventure-index-item:hover {
  position: relative;
  margin: 0px 0px;
  margin-right: 5px;
  box-shadow: 1px 1px 1px #888888;
  display: inline-block;
  height: 300px;
  width: 300px;
  border: 1px solid white;
  border-radius: 3px;
  // padding: 5px 5px;
  overflow: hidden;
  cursor: pointer;
}

.adventure-index-item-title {
  position: relative;
  margin: 0px 0px;
  border: 1px solid white;
  box-shadow: 5px 5px 5px #001a00;
  display: inline-block;
  height: 300px;
  width: 300px;
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px 0px;
  // border-radius: 3px 10px;
  overflow: hidden;
}

.adventure-index-item-label-text {
  border: 1px solid black;
  color: white;
  text-align: center;
  font-size: 20px;
  width: 300px;
  padding: 10px 10px 0 10px;
  display: inline-block;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.6);
}

.adventure-index-item-starred {
  position: absolute;
  float: right;
  margin-right: 5px;
  background-color: #3f9f53;
  color: #FFFFFF;
  padding: 0px 15px;
  line-height: 30px;
  font-size: 13px;
  border-radius: 5px;
  bottom: 15px;
  right: 15px;
}

.adventure-index-item-not-starred {
  position: absolute;
  float: right;
  margin-right: 5px;
  background-color: #707070;
  color: #FFFFFF;
  padding: 0px 15px;
  line-height: 30px;
  font-size: 13px;
  border-radius: 5px;
  border-color: black;
  bottom: 15px;
  right: 15px;
}

.adventure-show-page-starred {
  position: relative;
  float: right;
  margin-right: 5px;
  background-color: #3f9f53;
  color: #FFFFFF;
  padding: 0px 15px;
  line-height: 40px;
  font-size: 25px;
  border-radius: 5px;
  bottom: 35px;
  right: 40px;
}

.adventure-show-page-not-starred {
  position: relative;
  float: right;
  margin-right: 5px;
  background-color: #707070;
  color: #FFFFFF;
  padding: 0px 15px;
  line-height: 40px;
  font-size: 25px;
  border-radius: 5px;
  border-color: black;
  bottom: 35px;
  right: 40px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.searchbar-list:hover {
  cursor: pointer;
}

.searchbox {

}

.navbar-create {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  color: #777;
  text-decoration: none;
}

.universal-button {
  background-color: #337ab7;
  color: #fff;
  border-radius: 3px;
}
