.sign-in-body {

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  background-image: url('http://res.cloudinary.com/dpdxfgx58/image/upload/v1454653556/goatrocks_pffjil.jpg');

  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

.sign-in-body {
  &:after {
    content: url('http://res.cloudinary.com/dpdxfgx58/image/upload/v1457572892/nature_bb3xk0.jpg')
             url('http://res.cloudinary.com/dpdxfgx58/image/upload/v1457573371/ranier_wcz9dj.jpg')
             url('http://res.cloudinary.com/dpdxfgx58/image/upload/v1457573569/mountains_dzmi3i.jpg');
    display: none;
  }
}

.adventure-header {
  max-width: 400;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  color: black;
}

.form-signin {
  max-width: 330px;
  padding: 15px 15px 0px 15px;
  margin: 30vh auto 0px auto;
  background-color: rgba(238,238,238,0.85);
  border-radius: 10px 10px 0px 0px;
}

.form-signin2 {
  max-width: 330px;
  padding: 15px;
  margin: 0px auto;
  background-color: rgba(238,238,238,0.85);
  border-radius: 0px 0px 10px 10px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
