.home-map {
  height: 500px;
  width: 90%;
  margin: 0 auto 10px auto;
}

.map {
  height: 500px;
  width: 80%;
  margin: 0 auto 10px auto;
}

.show-page-map {
  height: 600px;
  width: 800px;
}

.map-form {
  height: 500px;
  width: 45%;
  float: right;
  top: 30px;
  right: 30px;
}

.carousel {
  height: 600px;
  width: 800px;
}
