.home-map {
  height: 500px;
  width: 80%;
  margin: 0 auto 10px auto;
}

.map {
  height: 500px;
  width: 80%;
  margin: 0 auto 10px auto;
}

.show-page-map {
  height: 600px;
  width: 800px;
}

.map-form {
  width: 50%;
  float: right;
}

.carousel {
  height: 600px;
  width: 800px;
}
