.home-map {
  height: 500px;
  width: 90%;
  margin: 0 auto 10px auto;
}

.map {
  height: 605px;
  width: 50%;
  margin: 0 5px 0 25px;
  float: left;
  border-radius: 5px;
}

.show-page-map {
  height: 600px;
  width: 800px;
}

.map-form {
  height: 715px;
  width: 45%;
  float: right;
  top: 25px;
  right: 30px;
}

.carousel {
  float: right;
}
